body {
    height: 100vh;
    background: linear-gradient(150deg, var(--primary-dark), var(--primary-medium));
    align-items: center;
    height: 100vh;
    justify-content: center;

}

/*contaier principal*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    box-shadow: 0px 8px 25px var(--shadow-default);
    width: 47%;
    height: 100vh;
    color: rgb(0, 0, 0);
    background-color: white;
    margin-left: auto;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    gap: 10px;

}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--gray-dark);
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--gray-dark);
}

input {
    width: 300px;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid var(--gray-medium);
    transition: 0.3s;
    box-sizing: border-box;

}

input:focus {
    border-color: var(--primary-medium);
    outline: none;
    box-shadow: 0 0 5px var(--primary-medium);
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--success);
    border: none;
    border-radius: 5px;
    color: var(--white);

}

button:hover {
    background-color: var(--success-hover);
}

